h1{ 
    text-align: center;
    background-color: rgba(105, 31, 31, 0.784);
}

body{ 
    text-align: justify;

}

h2{ 
    text-align: center;
    background-color: hsla(0, 71%, 12%, 0.629);
}

html{
    background-color: rgba(84, 40, 40, 0.299);
    margin: 0px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}